<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    
    <link rel="stylesheet" href="../style.css">
</head>
<body>
        <div class="container">
            <header>
                <nav class="menu">
                        <a href="../index.html"> <img src="../imgMain/Inicio.png" alt="" style="width: 40px; "> </a></li>
                        <a href="#"> <img src="../imgMain/Contanto.png" alt="" style="top: 80px; left: 245px; width: 40px;"> </a></li>
                        <a href="Servicios.html"> <img src="../imgMain/Servicios.png" alt="" style="top: 140px; left: 245px; width: 40px;"> </a></li>
                </nav>
            </header>
        <main>  
            <Div>
                <p>El Banco de Bogotá continúa consolidando su posición como uno de los principales referentes del sistema financiero colombiano y regional, tras recibir dos importantes reconocimientos internacionales en 2026. La entidad fue distinguida como el Mejor Banco de Colombia por la revista Global Finance y, además, en días pasados obtuvo el prestigioso iF Design Award por su sistema de diseño digital Sherpa.
                    En la 33.ª edición de los World’s Best Bank Awards, Global Finance destacó al banco por su crecimiento sostenido, solidez financiera, innovación tecnológica y capacidad para responder a las necesidades de sus clientes en un entorno cada vez más digital.</p>
                <h2>Formulario de contacto</h2>
                <form action="/action_page.php">
                    <label for="fname">Usuario</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your username..">

                    <label for="lname">Password</label>
                    <input type="password" id="lname" name="lastname" placeholder="Your password..">

                    <label for="country">Rol</label>
                        <select id="country" name="country">
                                <option value="australia">Administrador</option>
                                <option value="canada">Jefe</option>
                                <option value="usa">Secretaria</option>
                </select>
                <input type="submit" value="Submit">
                </form>
             </Div>
        </main>
            <footer>
                <p>
                    <a href="https://www.facebook.com/GrupoAval/"><img src="imgMain/boton_facebook.png" alt="" style="width: 40px;"></a>
                    <a href="https://www.instagram.com/grupoaval/"><img src="imgMain/boton_instagram.png" alt="" style="width: 40px;"></a>
                    <a href="https://no.pinterest.com/pin/813322013997598692/"><img src="imgMain/boton_pinteres.png" alt="" style="width: 40px;"></a>
                </p>
                <p>Pagina web realizada para fines netamente academicos por: Calletana López Baleta ©2026</p>
            </footer>
        </div> 
</body>
</html>