<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="container">
            <header>
                <nav class="menu">
                        <a href="../index.html"> <img src="../imgMain/Inicio.png" alt=""style="width: 40px; "> </a></li>
                        <a href="Contacto.html"> <img src="../imgMain/Contanto.png" alt="" style="top: 80px; left: 245px; width: 40px;"> </a></li>
                        <a href="#"> <img src="../imgMain/Servicios.png" alt="" style="top: 140px; left: 245px; width: 40px; "> </a></li>
                </nav>
            </header>
        <main>  
            <Div>
                <img src="../imgMain/Foto1.png" alt="" style="width: 100%;">
                <img src="../imgMain/Foto2.jpg" alt="">
                <p>El Banco de Bogotá continúa consolidando su posición como uno de los principales referentes del sistema financiero colombiano y regional, tras recibir dos importantes reconocimientos internacionales en 2026. La entidad fue distinguida como el Mejor Banco de Colombia por la revista Global Finance y, además, en días pasados obtuvo el prestigioso iF Design Award por su sistema de diseño digital Sherpa.
                    En la 33.ª edición de los World’s Best Bank Awards, Global Finance destacó al banco por su crecimiento sostenido, solidez financiera, innovación tecnológica y capacidad para responder a las necesidades de sus clientes en un entorno cada vez más digital.</p>

            </Div>
        </main>
            <footer>
                <p>Pagina web realizada para fines netamente academicos por: Nick Bryan Pacheco ©2026</p>
            </footer>
        </div> 
</body>
</html>